html {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: black;
  height: 100%;
  overflow: hidden;
}
article {
  background:  rgba(0, 0, 0, 0.75);
  font-family: 'Open Sans', sans-serif;
  color: white;
}
h1 {
  font-family: 'Oswald', sans-serif;
  margin: .5em 0;
}
a {
  color: white;
}
a .fab, a .far {
  font-size: 2em;
  margin: 0 .25em;
}
